[Desktop Entry]
Name=GNOME-Sign
Comment=Sign PDF documents with digital certificates
Comment[es]=Firma documentos PDF con certificados digitales
Comment[pt]=Assinatura de documentos PDF com certificados digitais
Exec=gnome-sign
Icon=io.github.ppgllrd.GNOME-Sign
Terminal=false
Type=Application
Categories=Office;Utility;
StartupNotify=true
