[Desktop Entry]
Name=GNOME-Sign
Comment=Sign PDF documents with digital certificates
Comment[es]=Firma documentos PDF con certificados digitales
Exec=gnomesign
Icon=io.github.ppgllrd.GNOME-Sign
Terminal=false
Type=Application
Categories=Office;Utility;
StartupNotify=true
