#!/usr/bin/make -f

%:
	dh $@ --with python-virtualenv --buildsystem=meson

# Instruct dh-virtualenv to inject extra wheels from PyPI during package assembly
override_dh_virtualenv:
	dh_virtualenv --python python3 --requirements debian/requirements-venv.txt --builtin-venv --skip-install
